 
/* Welcome Text */
.welcome-text {
    text-align: center;
    color: #eceff3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 100px;
}

/* Form Styling */
.form-container {
    text-align: center;
    margin-top: 20px;
}

input[type=submit] {
    background-color: #1a91e6;
    font-size: medium;
    transition: 0.3s;
    border: none;
    border-radius: 9px;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 15px;
}

input[type=submit]:hover {
    background-color: #0f72c6;
}
